apache-airflow==2.10.1
dbt-core==1.8.8
dbt-snowflake=1.8.4

#AIRFLOW_VERSION=2.10.1
#PYTHON_VERSION="$(python --version | cut -d " " -f 2 | cut -d "." -f 1-2)"
#CONTRAINT_URL="https://raw.githubusercontent.com/apache/airflow/constraints-${AIRFLOW_VERSION}/constraints-${PYTHON_VERSION}.txt"

#pip install "apache-airflow==${AIRFLOW_VERSION}" --constraint "${CONTRAINT_URL}"